@model ASPNETCoreApp1.ViewModels.HomeDetailsViewModel

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details Page";
}

<h3>@Model.Title</h3>
<div>
    Name: @Model.Staff.FirstName @Model.Staff.LastName
</div>
<div>
    Email: @Model.Staff.Email
</div>
<div>
    Department: @Model.Staff.Department
</div>