@model HomeIndexViewModel

@{
    ViewBag.Title = "Index Page";
}
<div class="card-deck row">
    @foreach(var staff in Model.Staffs)
    {
        <div class="col-lg-4 col-md-6 mt-3">
            <div class="card-header">
                <h3>@staff.FirstName @staff.LastName</h3>
            </div>
            <img class="card-img-top" src="~/images/user.png"/>
            <div class="card-footer text-center">
               @*<a href="/home/details/@staff.Id" class="btn btn-primary">View</a>
               <a href="@Url.Action("details","home",new {id=staff.Id})" class="btn btn-primary">View</a>*@
               <a asp-controller="home" asp-action="details" asp-route-Id="@staff.Id" class="btn btn-primary m-1">View</a>
               <a href="#" class="btn btn-primary m-1">Edit</a>
               <a href="#" class="btn btn-danger m-1">Delete</a>
            </div>
        </div>

    }
</div>


@*<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Department</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model.Staffs)
        {
            <tr>
                <td>@staff.Id</td>
                <td>@staff.FirstName @staff.LastName</td>
                <td>@staff.Department</td>
            </tr>
        }
    </tbody>
</table>*@
@section IndexScript
{
    <script src="~/scripts/indexScript.js"></script>
}
